body {
    font-family: Arial;
    background: #f2f2f2;
}

.box {
    width: 300px;
    margin: 100px auto;
    background: white;
    padding: 20px;
    border-radius: 6px;
}

input, button {
    width: 100%;
    margin: 10px 0;
    padding: 8px;
}
